/* MyTableComponent.css */
.MyTableComponent {
  font-family: Arial, sans-serif;
  margin: 0 10px ;
}



.input-container {
  display: flex;
  gap: 10px;
}

.subCategoryItems{
  display: flex;
}
.subCategoryName{
  background-color: #5cb8ff;
  border-radius: 15px;
  padding: 6px;
  margin-left: 3px;
}

.category-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.settings-ico > img{
  max-width: 50px;
  max-height: 50px;
  height: 35px;
  width: 35px;
}