.header {
  background-color: #007bff;
  color: #fff;
}

.nav {
  background: chocolate;
  height: 82px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  align-self: stretch;
}

.info{
  background: darkgrey;
  align-self: stretch;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.info-dropdowns{
  display: flex;
  flex-direction: row;
 }
.auth{
  background: darkgreen;
  display: flex;
  justify-content: flex-end;
  align-self: stretch;
  align-items: center;
}
