.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #333;
    color: #fff;
}

.header img {
    width: 100px;
    height: auto;
}

.dropdowns {
    display: flex;
    gap: 10px;
}

.dropdown {
    background-color: #555;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 5px;
}

.buttons {
    display: flex;
    gap: 10px;
}

.auth-btn {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.signUpBtn{
  background-color: #808080;
  border-color: #007bff;
  border-style: groove;
}